* {
    /* outline: 1px solid red; */
}

body {
    background: orange;
    text-align: center; 
}

table {
    margin-left: auto;
    margin-right: auto;
}  

#button-div {
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#container {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


table, th, td {
    border: 2px solid orange;
    font-size: 20px;
}

#flip, #clear {
    font-size: 25px;
    border-radius: 25px;
    color: aliceblue;
}

#flip:hover, #clear:hover {
    color: red;
    background-color: white;
}


#flip {
    background-color: blue;
}

#clear {
    background-color: orange;
}

